<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.xmind.cathy.internal.CathyApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.xmind.cathy.application"
            name="%xmind.product.name">
         <property
               name="windowImages"
               value="icons/xmind.16.png,icons/xmind.32.png,icons/xmind.48.png,icons/xmind.64.png,icons/xmind.128.png,icons/xmind.256.png"/>
         <property
               name="appName"
               value="XMind">
         </property>
         <!--
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         -->
          <property
          		name="introTitle"
          		value="Welcome to XMind 2014"/>
          <property
          		name="introBrandingImage"
          		value="product:icons/introimage.png"/>
          <property
          		name="introBrandingImageText"
          		value="XMind 2014"/>
		  <property
				name="introDescription-overview"
				value=""/>
		  <property
				name="introDescription-tutorials"
				value=""/>
		  <property
				name="introDescription-samples"
				value=""/>
          <property
                name="aboutImage"
                value="icons/about.png">
	      </property>
          <property name="aboutText" value="%productBlurb">
          </property>
          <property
                name="applicationXMI"
                value="platform:/plugin/org.xmind.cathy/Application.e4xmi">
          </property>
          <property
                name="applicationCSSResources"
                value="platform:/plugin/org.xmind.cathy/images/">
          </property>
          <property
                name="cssTheme"
                value="org.xmind.cathy.theme.e4_default">
          </property>
          <property
                name="rendererFactoryUri"
                value="bundleclass://org.xmind.cathy/org.xmind.cathy.internal.renderer.XWorkbenchRendererFactory">
          </property>
          <property
                name="modelResourceHandler"
                value="bundleclass://org.xmind.cathy/org.xmind.ui.internal.e4handlers.XResourceHandler">
          </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xmind.cathy.internal.CathyPrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xmind.ui.preference.MultiSectionPreferencePage"
      		id="org.xmind.ui.prefPage.General"
            name="%prefPage.general.name">
      </page>

      <page
            class="org.xmind.ui.preference.MultiSectionPreferencePage"
            id="org.xmind.ui.prefPage.Share"
            name="%prefPage.share.name">
      </page>
      <page
            class="org.xmind.ui.preference.MultiSectionPreferencePage"
            id="org.xmind.ui.prefPage.Spelling"
            name="%prefPage.spelling.name">
      </page>
      <page
            class="org.xmind.ui.preference.MultiSectionPreferencePage"
            id="org.xmind.ui.prefPage.Language"
            name="%prefPage.language.name">
      </page>
      <page
            class="org.xmind.ui.preference.MultiSectionPreferencePage"
            id="org.xmind.ui.prefPage.Advanced"
            name="%prefPage.advanced.name">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="%prefPage.keys.name">
      </page>
      <!--<page
            class="org.xmind.cathy.internal.GeneralPrefPage"
            id="org.xmind.ui.prefPage.General"
            name="%prefPage.general.name">
      </page>
      <page
            class="org.xmind.cathy.internal.LanguagePrefPage"
            id="org.xmind.ui.LanguagePrefPage"
            name="%prefPage.language.name">
      </page>-->
      <!--<page
            class="org.xmind.ui.preference.MultiSectionPreferencePage"
            id="org.xmind.ui.ProxyPreferencePage"
            name="Proxy">
      </page>-->
      <!--
      <page
            name="%prefPage.appearance.name"
            category="org.xmind.ui.prefPage.General"
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts">
      </page>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/views/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="%view.progress.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.xmind.ui.category.cloud"
            description="%command.showHome.description"
            id="org.xmind.ui.command.showDashboard"
            name="%command.showHome.name">
         <commandParameter
               id="org.xmind.ui.command.showDashboard.pageId"
               name="%commandParameter.homePage.name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.xmind.ui.category.cloud"
            description="%command.toggleHome.description"
            id="org.xmind.ui.command.toggleDashboard"
            name="%command.toggleHome.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.help"
            description="%command.welcome.description"
            id="org.xmind.ui.command.welcome"
            name="%command.welcome.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.window.showKeyAssist"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+L">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.xmind.cathy.internal.AutoSaveService">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.cathy.internal.handlers.ShowAllPreferencesHandler"
            commandId="org.eclipse.ui.window.preferences">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.WelcomeToXMindHandler"
            commandId="org.xmind.ui.command.welcome">
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.ShowDashboardPageHandler"
            commandId="org.xmind.ui.command.showDashboard">
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.ToggleDashboardHandler"
            commandId="org.xmind.ui.command.toggleDashboard">
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.NewWizardHandler"
            commandId="org.eclipse.ui.newWizard">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.HideDashboardHandler"
            commandId="org.eclipse.ui.file.closePart">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.xmind.cathy.part.dashboard">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.XMindHelpHandler"
            commandId="org.eclipse.ui.help.helpContents">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.wizards.WizardHandler$Export"
            commandId="org.eclipse.ui.file.export">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
            <handler
            class="org.xmind.ui.internal.wizards.WizardHandler$Import"
            commandId="org.eclipse.ui.file.import">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.xmind.core.command.handlers">
      <handler
            class="org.xmind.cathy.internal.OpenFileCommandHandler"
            id="org.xmind.ui.xmindCommandHandler.openFile"
            command="^openFile$">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="org.xmind.cathy.internal.CathyStatusHandler"
            id="org.xmind.ui.statusHandler">
      </statusHandler>
      <statusHandlerProductBinding
            handlerId="org.xmind.ui.statusHandler"
            productId="org.xmind.cathy.product">
      </statusHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default_win7.css"
            id="org.xmind.cathy.theme.e4_default"
            label="Win7"
            os="win32"
            os_version="6.0,6.1">
      </theme>
      <theme
            basestylesheeturi="css/default_mac.css"
            id="org.xmind.cathy.theme.e4_default"
            label="Mac"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/default_gtk.css"
            id="org.xmind.cathy.theme.e4_default"
            label="GTK"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/default_gtk.css"
            id="org.xmind.cathy.theme.e4_default"
            label="Solaris"
            os="solaris">
      </theme>
      <theme
            basestylesheeturi="css/custom.css"
            id="org.xmind.cathy.theme.userCustom"
            label="Custom">
      </theme>
      <theme
            basestylesheeturi="css/default_win8.css"
            id="org.xmind.cathy.theme.e4_default"
            label="Win8"
            os="win32"
            os_version="6.2,6.3">
      </theme>
      <theme
            basestylesheeturi="css/default_win.css"
            id="org.xmind.cathy.theme.e4_default"
            label="Win10"
            os="win32">
      </theme>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CompositeElement"
            handler="org.xmind.cathy.internal.css.SashWidthHandler">
         <property-name
               name="xmind-sash-width">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.eclipse.e4.ui.css.swt.properties.custom.CSSPropertyBorderVisibleSWTHandler">
         <property-name
               name="xmind-swt-border-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="org.xmind.cathy.internal.css.CSSPropertyTabBorderVisibleSWTHandler">
         <property-name
               name="xmind-swt-outer-border-visible">
         </property-name>
         <property-name
               name="xmind-swt-inner-border-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.ui.internal.forms.css.dom.SectionElement"
            handler="org.xmind.cathy.internal.css.CSSPropertySectionHandler">
         <property-name
               name="xmind-title-bar-text-color">
         </property-name>
         <property-name
               name="xmind-title-bar-active-text-color">
         </property-name>
      </handler>
      <handler
            adapter="org.xmind.cathy.internal.css.FormTextElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyFormTextHandler">
         <property-name
               name="xmind-hyperlink-color">
         </property-name>
         <property-name
               name="xmind-active-hyperlink-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyHoverTabSWTHandler">
         <property-name
               name="xmind-swt-hover-tab-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.ToolBarElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyToolBarSWTHandler">
         <property-name
               name="xmind-swt-tool-item-color">
         </property-name>
         <property-name
               name="xmind-swt-view-menu-image">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertySelectedTabAreaSWTHandler">
         <property-name
               name="xmind-swt-selected-tab-area-color">
         </property-name>
      </handler>
      <handler
            adapter="org.xmind.cathy.internal.css.ScrolledFormElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyScrolledFormHandler">
         <property-name
               name="xmind-background-color">
         </property-name>
         <property-name
               name="xmind-foreground-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyTabIconTextVisibleSWTHandler">
         <property-name
               name="xmind-swt-image-visible">
         </property-name>
         <property-name
               name="xmind-swt-text-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CompositeElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyMarginXHandler">
         <property-name
               name="xmind-margin-top">
         </property-name>
         <property-name
               name="xmind-margin-bottom">
         </property-name>
         <property-name
               name="xmind-margin-right">
         </property-name>
         <property-name
               name="xmind-margin-left">
         </property-name>
         <property-name
               name="xmind-margin">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabItemElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyXShowCloseHandler">
         <property-name
               name="xmind-swt-show-close">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyMaxMinVisibleSWTHandler">
         <property-name
               name="xmind-swt-minimize-visible">
         </property-name>
         <property-name
               name="xmind-swt-maximize-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyUnselectedTabsColorSWTHandler">
         <property-name
               name="xmind-swt-unselected-tabs-color">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyUnselectedTabsFillVisibleSWTHandler">
         <property-name
               name="xmind-swt-unselected-tabs-bg-visible">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyCTabFolderToolBarSWTHandler">
         <property-name
               name="xmind-swt-maximize-image">
         </property-name>
         <property-name
               name="xmind-swt-minimize-image">
         </property-name>
         <property-name
               name="xmind-swt-chevron-visible">
         </property-name>
         <property-name
               name="xmind-swt-close-image">
         </property-name>
         <property-name
               name="xmind-swt-close-hover-image">
         </property-name>
      </handler>
      <handler
            adapter="org.xmind.cathy.internal.css.MTabBarElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyMTabBarHandler">
         <property-name
               name="xmind-tab-bar-bg">
         </property-name>
      </handler>
      <handler
            adapter="org.xmind.cathy.internal.css.MTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyMTabFolderHandler">
         <property-name
               name="xmind-tab-folder-bg">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.xmind.cathy.internal.css.CSSPropertyCTabFolderRenderNoneHandler">
         <property-name
               name="xmind-ctabfolder-render-none">
         </property-name>
      </handler>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.xmind.cathy.internal.css.XSWTElementProvider">
         <widget
               class="org.eclipse.ui.forms.widgets.FormText">
         </widget>
         <widget
               class="org.eclipse.ui.forms.widgets.ScrolledForm">
         </widget>
         <widget
               class="org.xmind.ui.tabfolder.MTabBar">
         </widget>
         <widget
               class="org.xmind.ui.tabfolder.MTabFolder">
         </widget>
      </provider>
   </extension>
   <extension
         id="fileMenuContributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=fileStart">
         <command
               commandId="org.eclipse.ui.newWizard"
               id="new"
               label="%menu.file.new.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=close.group">
         <command
               commandId="org.eclipse.ui.file.close"
               id="close"
               label="%menu.file.close.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.closeAll"
               id="closeAll"
               label="%menu.file.closeAll.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=save.group">
         <command
               commandId="org.eclipse.ui.file.save"
               id="save"
               label="%menu.file.save.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               id="saveAs"
               label="%menu.file.saveAs.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAll"
               id="saveAll"
               label="%menu.file.saveall.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=print.group">
         <command
               commandId="org.eclipse.ui.file.print"
               id="print"
               label="%menu.file.print.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=import.group">
         <command
               commandId="org.eclipse.ui.file.import"
               id="import"
               label="%menu.file.import.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               id="export"
               label="%menu.file.export.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?before=fileEnd">
         <command
               commandId="org.eclipse.ui.file.exit"
               id="quit"
               label="%menu.file.exit.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="org.xmind.ui.platform.isMac">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.xmind.ui.file.recentMenu?after=additions.group">
         <command
               commandId="org.xmind.ui.command.showDashboard"
               label="%command.showDashboard.name"
               style="push">
            <parameter
                  name="org.xmind.ui.command.showDashboard.pageId"
                  value="org.xmind.ui.part.dashboard.recent">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="editMenuContributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=editStart">
         <command
               commandId="org.eclipse.ui.edit.undo"
               id="undo"
               label="%menu.edit.undo.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               id="redo"
               label="%menu.edit.redo.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=cut.group">
         <command
               commandId="org.eclipse.ui.edit.cut"
               id="cut"
               label="%menu.edit.cut.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               id="copy"
               label="%menu.edit.copy.label"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               id="paste"
               label="%menu.edit.paste.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?before=delete.group">
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="delete"
               label="%menu.edit.delete.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=select.group">
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               id="selectAll"
               label="%menu.edit.selectAll.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=find.group">
         <command
               commandId="org.eclipse.ui.edit.findReplace"
               id="find"
               label="%menu.edit.find.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?before=editEnd">
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="%menu.edit.preference.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="org.xmind.ui.platform.isMac">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="helpMenuContributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=group.intro">
         <command
               commandId="org.xmind.ui.command.welcome"
               id="welcome"
               label="%menu.help.welcome.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=group.main">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  id="helpContents"
                  label="%menu.help.xmindHelp.label"
                  style="push">
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=group.assist">
            <command
                  commandId="org.eclipse.ui.window.showKeyAssist"
                  id="keyAssist"
                  label="%menu.help.keyAssist.label"
                  style="push">
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=group.about">
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               id="org.xmind.ui.menu.help.about"
               label="%menu.help.about.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="org.xmind.ui.platform.isMac">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.xmind.ui.contexts.dashboard"
            name="%context.showHome.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.closePart"
            contextId="org.xmind.ui.contexts.dashboard"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.xmind.cathy.internal.WindowPropertyTester"
            id="org.xmind.ui.propertyTester.window"
            namespace="org.xmind.ui.window"
            properties="showingDashboard"
            type="org.eclipse.ui.IWorkbenchWindow">
      </propertyTester>
      <propertyTester
            class="org.xmind.cathy.internal.RecentFilePropertyTester"
            id="org.xmind.ui.propertyTester.recentFile"
            namespace="org.xmind.ui.recentFile"
            properties="isPinned"
            type="java.net.URI">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.xmind.ui.expression.showingDashboard">
         <with
               variable="activeWorkbenchWindow">
            <test
                  property="org.xmind.ui.window.showingDashboard"
                  value="true">
            </test>
         </with>
      </definition>
      <definition
            id="org.xmind.ui.platform.isMac">
                  <or>
                     <systemTest
                           property="osgi.ws"
                           value="carbon">
                     </systemTest>
                     <systemTest
                           property="osgi.ws"
                           value="cocoa">
                     </systemTest>
                  </or>
      </definition>
   </extension>
   <extension
         id="toolbarContributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.xmind.ui.toolbar.dashboard?after=start">
         <command
               commandId="org.xmind.ui.command.showDashboard"
               disabledIcon="icons/toolbar/d/dashboard.png"
               icon="icons/toolbar/e/dashboard.png"
               id="org.xmind.ui.toolbar.dashboard.showDashboard"
               label="%toolbar.dashboard.home.label"
               style="push"
               tooltip="%toolbar.dashboard.home.tooltip">
         </command>
         <control
               class="org.xmind.ui.internal.SeparatorControlContribution">
         </control>

          <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="icons/toolbar/d/save.png"
               icon="icons/toolbar/e/save.png"
               id="org.xmind.ui.toolbar.edit.save"
               label="%toolbar.edit.save.label"
               style="push"
               tooltip="%toolbar.edit.save.tooltip">
         </command>
         <command
               commandId="org.eclipse.ui.edit.undo"
               disabledIcon="icons/toolbar/d/undo.png"
               icon="icons/toolbar/e/undo.png"
               id="org.xmind.ui.toolbar.edit.undo"
               label="%toolbar.edit.undo.label"
               style="push"
               tooltip="%toolbar.edit.undo.tooltip">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               disabledIcon="icons/toolbar/d/redo.png"
               icon="icons/toolbar/e/redo.png"
               id="org.xmind.ui.toolbar.edit.redo"
               label="%toolbar.edit.redo.label"
               style="push"
               tooltip="%toolbar.edit.redo.tooltip">
         </command>
         <control
               class="org.xmind.ui.internal.SeparatorControlContribution">
         </control>
      </menuContribution>
   </extension>
   <extension
         id="recentFileContributions"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            id="org.xmind.ui.command.pinRecentFile"
            name="%command.pinRecentFile.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="org.xmind.ui.command.unpinRecentFile"
            name="%command.unpinRecentFile.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="org.xmind.ui.command.clearRecentFile"
            name="%command.clearRecentFile.name">
      </command>
   </extension>
   <extension
         id="recentFileContributions"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.cathy.internal.handlers.PinRecentFileHanlder"
            commandId="org.xmind.ui.command.pinRecentFile">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="java.net.URI">
                  </instanceof>
                  <test
                        property="org.xmind.ui.recentFile.isPinned"
                        value="false">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.UnpinRecentFileHandler"
            commandId="org.xmind.ui.command.unpinRecentFile">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="java.net.URI">
                  </instanceof>
                  <test
                        property="org.xmind.ui.recentFile.isPinned"
                        value="true">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.DeleteRecentFileHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="java.net.URI">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.ClearRecentFileHandler"
            commandId="org.xmind.ui.command.clearRecentFile">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <not>
                     <instanceof
                           value="java.net.URI">
                     </instanceof>
                  </not>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         id="recentFileContributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.xmind.ui.popup.recentFile">
         <command
               commandId="org.xmind.ui.command.pinRecentFile"
               icon="icons/pin.png"
               label="%command.pinMap.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.unpinRecentFile"
               icon="icons/pin.png"
               label="%command.unpinMap.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.clearRecentFile"
               label="%command.clearUnpinnedMap.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.xmind.cathy.internal.ShowWelcomeService">
      </startup>
   </extension>
   <extension
         id="windowContributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.xmind.ui.window?after=windowStart">
         <command
               commandId="org.xmind.ui.command.showDashboard"
               icon="icons/menus/home.png"
               id="org.xmind.ui.window.dashboard.showDashboard"
               label="%command.home.name"
               style="push">
         </command>
      </menuContribution>
   </extension>
  <extension
            id="templatePropertyTester"
            point="org.eclipse.core.expressions.propertyTesters">
  <propertyTester
        class="org.xmind.cathy.internal.dashboard.TemplatePropertyTester"
        id="org.xmind.ui.propertyTester.template"
        namespace="org.xmind.ui.template"
        properties="system,user"
        type="org.xmind.ui.mindmap.ITemplate">
  </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.xmind.ui.category.mindmap"
            id="org.xmind.ui.command.template.duplicate"
            name="%command.duplicateTemplate.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            id="org.xmind.ui.command.template.rename"
            name="%command.renameTemplate.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            id="org.xmind.ui.command.template.delete"
            name="%command.deleteTemplate.name">
      </command>
   </extension>
   <extension
         id="templateContributions"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.xmind.ui.popup.template">
         <command
               commandId="org.xmind.ui.command.template.rename"
               label="%command.rename.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.xmind.ui.mindmap.ITemplate">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.template.duplicate"
               label="%command.duplicate.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.xmind.ui.mindmap.ITemplate">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.template.delete"
               label="%command.delete.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.xmind.ui.mindmap.ITemplate">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.xmind.ui.category.cloud"
            id="org.xmind.ui.command.openCloudPage"
            name="%command.openCloudPage.name">
      </command>
      <category
            id="org.xmind.ui.category.cloud"
            name="%category.cloud.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.cathy.internal.handlers.ShowCloudPageHandler"
            commandId="org.xmind.ui.command.openCloudPage">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.xmind.ui.command.openCloudPage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
   </extension>
   <extension
         id="templateContributions"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.cathy.internal.handlers.DuplicateTemplateHandler"
            commandId="org.xmind.ui.command.template.duplicate">
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.RenameTemplateHandler"
            commandId="org.xmind.ui.command.template.rename">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.xmind.ui.mindmap.ITemplate">
                  </adapt>
                  <test
                        property="org.xmind.ui.template.user">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.handlers.DeleteTemplateHandler"
            commandId="org.xmind.ui.command.template.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.xmind.ui.mindmap.ITemplate">
                  </adapt>
                  <test
                        property="org.xmind.ui.template.user">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.cathy.internal.EmptyHandler"
            commandId="org.eclipse.ui.window.splitEditor">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.xmind.ui.toolkit.preferencePageSections">
      <section
            class="org.xmind.cathy.internal.StartupPreferencePageSection"
            id="org.xmind.cathy.startup.preferencePageSection"
            index="1"
            label="%prefPage.section.startup.label"
            pageId="org.xmind.ui.prefPage.General">
      </section>
      <section
            class="org.xmind.cathy.internal.RecentFilesPreferencePageSection"
            id="org.xmind.cathy.recentFilepreferencePageSection"
            index="2"
            label="%prefPage.section.fileList.label"
            pageId="org.xmind.ui.prefPage.General">
      </section>
      <section
            class="org.xmind.cathy.internal.SaveBackupPreferencePageSection"
            id="org.xmind.cathy.saveBackupPreferencePageSection"
            index="3"
            label="%prefPage.section.saveBackup.label"
            pageId="org.xmind.ui.prefPage.General">
      </section>
      <section
            class="org.xmind.cathy.internal.LanguagePreferencePageSection"
            id="org.xmind.cathy.languagePerferencePageSection"
            index="1"
            pageId="org.xmind.ui.prefPage.Language">
      </section>
      <!--<section
            class="org.xmind.cathy.internal.ProxyPreferencePageSection"
            id="org.xmind.cathy.proxyType"
            index="1"
            label="none"
            pageId="org.xmind.ui.ProxyPreferencePage">
      </section>-->
   </extension>
    <extension
         point="org.eclipse.ui.themes">
      <theme
            id="org.xmind.cathy.theme"
            name="%theme.cathy.name">
         <fontOverride
               id="org.eclipse.jface.bannerfont">
            <fontValue
                  os="win32"
                  value="Segoe UI-bold-10"
                  ws="win32">
            </fontValue>
         </fontOverride>
         <fontOverride
               id="org.eclipse.jface.headerfont">
            <fontValue
                  os="win32"
                  value="Segoe UI-bold-12"
                  ws="win32">
            </fontValue>
         </fontOverride>
         <fontOverride
               id="org.eclipse.jface.textfont">
            <fontValue
                  os="win32"
                  value="Consolas-regular-10"
                  ws="win32">
            </fontValue>
         </fontOverride>
      </theme>
   </extension>

<!--
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.xmind.cathy.internal.CathySplashHandler"
            id="org.xmind.cathy.splashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.xmind.cathy.product"
            splashId="org.xmind.cathy.splashHandler">
      </splashHandlerProductBinding>
   </extension>
 -->
</plugin>
