<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xmind.ui.internal.prefs.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.xmind.ui.internal.branch.BranchPartPropertyTester"
            id="org.xmind.ui.propertyTester.branchPart"
            namespace="org.xmind.ui.branch"
            properties="type,folded,index,policyId,structureId,hasParent,preferredPosition,property"
            type="org.xmind.ui.mindmap.IBranchPart">
      </propertyTester>
      <propertyTester
            class="org.xmind.ui.internal.StyleSheetPropertyTester"
            id="org.xmind.ui.propertyTester.styleSheet"
            namespace="org.xmind.ui.resource.styleSheet"
            properties="type"
            type="org.xmind.core.style.IStyleSheet">
      </propertyTester>
      <propertyTester
            class="org.xmind.ui.internal.editor.WorkbookRefPropertyTester"
            id="org.xmind.ui.propertyTester.workbookRef"
            namespace="org.xmind.ui.editor.workbookRef"
            properties="uri,uriScheme,exist"
            type="org.xmind.ui.mindmap.IWorkbookRef">
      </propertyTester>
      <propertyTester
            class="org.xmind.ui.internal.ShareOptionRegistryPropertyTester"
            id="org.xmind.ui.propertyTester.shareOptionRegistry"
            namespace="org.xmind.ui.shareOptionRegistry"
            properties="hasOptions"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.xmind.ui.internal.editor.FileEditorInputFactory"
            id="org.xmind.ui.WorkbookEditorInputFactory">
      </factory>
      <factory
            class="org.xmind.ui.internal.editor.MindMapEditorInputFactory"
            id="org.xmind.ui.MindMapEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.xmind.core.ITopic"
            class="org.xmind.ui.internal.TopicBranchAdapterFactory">
         <adapter
               type="org.xmind.ui.mindmap.IBranchPart">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.xmind.ui.toolkit.contributedContentsViews">
      <pageFactory
            editorId="org.xmind.ui.MindMapEditor"
            class="org.xmind.ui.internal.MindMapContributedContentPageFactory"
            types="outline,properties,org.xmind.ui.views.overview,org.xmind.ui.views.revisions,org.xmind.ui.views.metadata">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.xmind.ui.internal.MindMappingServiceFactory">
         <service
               serviceClass="org.xmind.ui.editor.IEditorHistory">
         </service>
      </serviceFactory>
   </extension>
   <extension
         id="dialogPartsModelContributions"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="parts_fragment.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="false"
            class="org.xmind.ui.internal.e4models.ProgressProcessor">
      </processor>
      </extension>
      <extension
         point="org.xmind.ui.resourceManager">
      <page
            contributionURI="bundleclass://org.xmind.ui.mindmap/org.xmind.ui.internal.resourcemanager.MarkerResourceManagerPage"
            iconURI="platform:/plugin/org.xmind.ui.mindmap/icons/ic_marker.png"
            id="org.xmind.ui.dialogPart.resourceManager.marker"
            label="%org.xmind.ui.resourceManager.marker.label">
      </page>
            <page
            contributionURI="bundleclass://org.xmind.ui.mindmap/org.xmind.ui.internal.resourcemanager.ThemeResourceManagerPage"
            iconURI="platform:/plugin/org.xmind.ui.mindmap/icons/ic_theme.png"
            id="org.xmind.ui.dialogPart.resourceManager.theme"
            label="%org.xmind.ui.resourceManager.theme.label">
      </page>
      <page
            contributionURI="bundleclass://org.xmind.ui.mindmap/org.xmind.ui.internal.resourcemanager.StyleResourceManagerPage"
            iconURI="platform:/plugin/org.xmind.ui.mindmap/icons/ic_style.png"
            id="org.xmind.ui.dialogPart.resourceManager.style"
            label="%org.xmind.ui.resourceManager.style.label">
      </page>
      <page
            contributionURI="bundleclass://org.xmind.ui.mindmap/org.xmind.ui.internal.resourcemanager.TemplateResourceManagerPage"
            iconURI="platform:/plugin/org.xmind.ui.mindmap/icons/ic_template.png"
            id="org.xmind.ui.dialogPart.resourceManager.template"
            label="%org.xmind.ui.resourceManager.template.label">
      </page>
   </extension>
   <extension
         id="resourceManagerPopuopMenus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.xmind.ui.dialogPart.resourceManager.theme.popupMenu">
         <command
               commandId="org.xmind.ui.command.setDefaultTheme"
               label="%command.resourceManager.theme.setDefault.label"
               style="push"
               tooltip="%command.resourceManager.theme.setDefault.tooltip">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <separator
               name="group.edit">
         </separator>
         <command
               commandId="org.xmind.ui.command.renameResource"
               label="%command.resourceManager.theme.rename.label"
               style="push">
         </command>
         <command
               commandId="org.xmind.ui.command.duplicateResource"
               label="%command.resourceManager.theme.duplicate.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.deleteResource"
               label="%command.resourceManager.theme.delete.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.xmind.ui.dialogPart.resourceManager.marker.popupMenu">
         <separator
               name="additions"
               visible="false">
         </separator>
         <separator
               name="group.edit">
         </separator>
         <command
               commandId="org.xmind.ui.command.deleteResource"
               label="%command.resourceManager.marker.delete.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.renameResource"
               label="%command.resourceManager.marker.rename.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.xmind.ui.dialogPart.resourceManager.template.popupMenu">
         <separator
               name="additions"
               visible="false">
         </separator>
         <separator
               name="group.edit">
         </separator>
         <command
               commandId="org.xmind.ui.command.renameResource"
               label="%command.resourceManager.template.rename.label"
               style="push">
         </command>
         <command
               commandId="org.xmind.ui.command.duplicateResource"
               label="%command.resourceManager.template.duplicate.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.deleteResource"
               label="%command.resourceManager.template.delete.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.xmind.ui.dialogPart.resourceManager.style.popupMenu">
         <command
               commandId="org.xmind.ui.command.editResource"
               label="%command.resourceManager.style.edit.label"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <separator
               name="group.edit">
         </separator>
         <command
               commandId="org.xmind.ui.command.renameResource"
               label="%command.resourceManager.style.rename.label"
               style="push">
         </command>
         <command
               commandId="org.xmind.ui.command.duplicateResource"
               label="%command.resourceManager.style.duplicate.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.deleteResource"
               label="%command.resourceManager.style.delete.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="themePartMenus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.xmind.ui.modelPart.theme.viewMenu">
         <command
               commandId="org.xmind.ui.command.newTheme"
               helpContextId="New Theme [Pro]"
               label="%command.themePart.new.label"
               style="push">
         </command>
         <command
               commandId="org.xmind.ui.command.extractTheme"
               label="%command.themePart.extract.label"
               style="push"
               tooltip="%command.themePart.extract.tooptip">
         </command>
         <command
               commandId="org.xmind.ui.command.showDialogPart"
               label="%command.themePart.manage.label"
               style="push"
               tooltip="%command.themePart.manage.tooltip">
            <parameter
                  name="org.xmind.ui.commandParameter.modelPart.partId"
                  value="org.xmind.ui.dialogPart.resourceManager">
            </parameter>
            <parameter
                  name="org.xmind.ui.commandParameter.modelPart.pageId"
                  value="org.xmind.ui.dialogPart.resourceManager.theme">
            </parameter>
         </command>
         <separator
               name="org.xmind.ui.mindmap.separator.theme"
               visible="true">
         </separator>
         <command
               commandId="org.xmind.ui.command.importTheme"
               label="%command.themePart.import.label"
               style="push"
               tooltip="%command.themePart.import.tooltip">
         </command>
         <command
               commandId="org.xmind.ui.command.exportTheme"
               label="%command.themePart.export.label"
               style="push"
               tooltip="%command.themePart.export.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.xmind.ui.toolkit.preferencePageSections">
      <section
            class="org.xmind.ui.internal.prefs.DnDPreferencePageSection"
            id="org.xmind.ui.mindmap.dndPreferencePageSection"
            index="20"
            label="%org.xmind.ui.toolkit.prefPage.section.dnd.label"
            pageId="org.xmind.ui.prefPage.General">
      </section>
      <section
            class="org.xmind.ui.internal.prefs.ThemePreferencePageSection"
            id="org.xmind.ui.mindmap.ThemePreferencePageSection"
            index="30"
            label="%org.xmind.ui.toolkit.prefPage.section.theme.label"
            pageId="org.xmind.ui.prefPage.General">
      </section>
      <section
            class="org.xmind.ui.internal.prefs.AuthorInfoPreferenceSection"
            id="org.xmind.ui.mindmap.authorInfo"
            index="1"
            label="%org.xmind.ui.toolkit.prefPage.section.authorInfo.label"
            pageId="org.xmind.ui.prefPage.Advanced">
      </section>
      <section
            class="org.xmind.ui.internal.prefs.UndoRedoPreferencePageSection"
            id="org.xmind.ui.mindmap.Advance_UndoRedo"
            index="20"
            label="%org.xmind.ui.toolkit.prefPage.section.undo.label"
            pageId="org.xmind.ui.prefPage.Advanced">
      </section>
      <section
            class="org.xmind.ui.internal.prefs.TopicPositionPreferenceSection"
            id="org.xmind.ui.mindmap.section3"
            index="30"
            label="%org.xmind.ui.toolkit.prefPage.section.position.label"
            pageId="org.xmind.ui.prefPage.Advanced">
      </section>
      <section
            class="org.xmind.ui.internal.prefs.OthersPreferenceSection"
            id="org.xmind.ui.mindmap.Advance_Others"
            index="50"
            label="%org.xmind.ui.toolkit.prefPage.section.others.label"
            pageId="org.xmind.ui.prefPage.Advanced">
      </section>
   </extension>
   <extension
         id="resourceManagerCommandContribution"
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            id="org.xmind.ui.command.showResourceManagerDialog"
            name="%category.resourceManager.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            id="org.xmind.ui.command.openCloseModelPart"
            name="%part.command.openCloseModelPart.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.ui.internal.handlers.ShowResourceManagerDialogHanlder"
            commandId="org.xmind.ui.command.showResourceManagerDialog">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.xmind.ui.command.openCloseModelPart"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M">
      </key>
   </extension>
</plugin>
