<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!--<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xmind.ui.internal.spelling.SpellingCheckPrefPage"
            id="org.xmind.ui.SpellingCheckPrefPage"
            name="%prefPage.spelling.name">
      </page>
   </extension>-->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xmind.ui.internal.spelling.SpellingPrefInitilizer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.xmind.ui.category.mindmap"
            description="%command.checkSpelling.description"
            id="org.xmind.ui.command.checkSpelling"
            name="%command.checkSpelling.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            description="%command.checkSpellingAllEditors.description"
            id="org.xmind.ui.command.checkSpelling.allEditors"
            name="%command.checkSpellingAllEditors.name">
      </command>
      <command
            categoryId="org.xmind.ui.dialog"
            id="org.xmind.ui.dialog.openSpellingCheckDialog"
            name="%command.spelling.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.ui.internal.handlers.CheckSpellingHandler"
            commandId="org.xmind.ui.command.checkSpelling">
         <activeWhen>
            <with
                  variable="activePart">
               <adapt
                     type="org.xmind.ui.IWordContextProvider">
               </adapt>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.handlers.CheckSpellingForAllHandler"
            commandId="org.xmind.ui.command.checkSpelling.allEditors">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.spelling.OpenSpellingCheckDialogHandler"
            commandId="org.xmind.ui.dialog.openSpellingCheckDialog">
         <enabledWhen>
            <reference
                  definitionId="org.xmind.ui.expression.isMindMapEditorContributingContents">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.xmind.ui.toolkit.preferencePageSections">
      <section
            class="org.xmind.ui.internal.spelling.SpellingOptionsPreferencePageSection"
            id="org.xmind.ui.spelling.optionsSection"
            pageId="org.xmind.ui.prefPage.Spelling">
      </section>
      <section
            class="org.xmind.ui.internal.spelling.SpellingDictionPreferencePageSection"
            id="org.xmind.ui.spelling.dictionaresSection"
            label="%spellingPref.dictionarySection.label"
            pageId="org.xmind.ui.prefPage.Spelling">
      </section>
   </extension>

</plugin>
